@font-face {
	font-family: 'Monserrat-Bold';
	src: url('../fonts/Montserrat-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Monserrat-Medium';
	src: url('../fonts/Montserrat-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Monserrat-Light';
	src: url('../fonts/Montserrat-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$titulo: 'Monserrat-Bold';
$subtitulo:'Monserrat-Medium';
$texto: 'Monserrat-Light';