@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-BoldCondensed.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium_1.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light_1.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$titulo: 'Roboto-Bold';
$subtitulo:'Roboto-Medium';
$texto: 'Roboto-Light';