@font-face {
	font-family: 'lirvan-L';
	src: url('../fonts/Roboto-BoldCondensed.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'lirvan-L';
	src: url('../fonts/lirvan-L.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light_1.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$titulo: 'lirvan-L';
$subtitulo:'Roboto-Medium';
$texto: 'Roboto-Light';