footer{
	margin-top: 10vw;
	&.formulario{
		margin-top: 0;
	}
	.row{
		.col-sm-3{
			h6{ 
				margin-bottom: 1vw;
				font-family: $subtitulo;
			 }
			i{
				margin:0.8vw;
				font-size: 1.5vw;
				cursor: pointer;
				&:hover{
					color: $azul-claro;
				}
			}
			img{
				width: 17vw;
			}
			ul{
				margin-left: 0;
				padding-left: 0;
			}
		}
	}
}