footer{
	margin-top: 10vw;
	&.formulario{
		margin-top: 0;
	}
	.row{
		.col-sm-3{
			h6{ 
				margin-bottom: 1vw;
				font-family: $subtitulo;
			 }
			i{
				margin:0.8vw;
				font-size: 1.5vw;
				cursor: pointer;
				&:hover{
					color: $azul-claro;
				}
			}
			img{
				width: 17vw;
			}
			ul{
				margin-left: 0;
				padding-left: 0;
				li{
					font-size: 1.2vw;
				}
			}
		}
	}
}

@media (max-width: 567px) {
	footer{
		margin-top: 0;
		padding-bottom: 10vw;
		.row{
			.col-sm-3{
				h6{
					font-size: 4vw !important;
					margin-top: 3vw;
				}
				i{
					margin: 1.5vw;
					font-size: 4vw;
				}
				img{
					width: 30vw;
				}
				ul{
					li{
						font-size: 3.2vw;
					}
				}
			}
		}
	}
}