.carousel-item{
	height: 50vw;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.item{
	margin: 0 auto;
	text-align: center;
	img{
		width: 5vw;
	}
}
.box{
	img{
		width: 18vw;
	}
}


.clientes-container{
	.swiper-container{
		width: 100%;
		height: 100%;
		.swiper-wrapper{
			.swiper-slide{
				img{
					width: 20vw;
				}
			}
		}
	}
}

.contenedor{
	position: relative;
	img{
		width: 100%;
		height: 27vw;
		object-fit: cover;
	}
	.info{
		position: absolute;
		padding: 1vw;
		&.fst-in{ bottom: 0;}
		&.sec-in{ top: 0;}
	}
}

.item-repr{
	padding-bottom: 5vw;
	margin:1vw 2vw;
	.enlaces{
		a{
			margin:0 0.4vw;
			img{ width: 2vw;}
		}
	}
}

.proyectos{
	 overflow-x: hidden;
}

@media (max-width: 768px) { 
	.info-ppal{
		.row{
			display: block;
			.col-sm-4{
				width: 100%;
				margin: 2vw 0;
				.contenedor{
					img{
						height: 66vw;
					}
					.info{
						padding: 5vw;
					}
				}
			}
		}
	}
	
.clientes-container{
	.swiper-container{
		.swiper-wrapper{
			.swiper-slide{
				img{
					width: 32vw;
				}
			}
		}
	}
}
	.proyectos{
		.contenedor{
			img{
				height: 40vw;
			}
			.info{
				padding: 2vw;
			}
		}
	}
 }

@media (max-width: 576px) {
	.item-info{
		flex-wrap: wrap;
	}
	
	.info-ppal{
		.row{
			.col-sm-4{
				margin: 4vw 0;
				.contenedor{
					img{
						height: 80vw;
					}
				}
			}
		}
	}

	.clientes-container{
		.swiper-container{
			.swiper-wrapper{
				.swiper-slide{
					img{
						width: 90vw;
					}
				}
			}
		}
	}

	.proyectos{
		.contenedor{
			img{
				height: 70vw;
				margin: 3vw 0;
			}
			.info{
				padding: 5vw;
			}
		}
	}
	
.item-repr{
	.enlaces{
		a{
			img{ width: 5vw;}
		}
	}
}
}

