.banner{
	background-size: cover;
	background-position: center;
	height: 45vw;
	overflow-y: auto;
	.container{
		margin-left:5%;
		margin-top: 20%;
		width: 40%;
		&.container-right{
			margin-left: 50%;
		}
	}
}

/* .main{
	background-image: url('/assets/bg.jpg');
	background-size: cover;
	background-repeat: repeat;
	background-position: center;
} */
.linea{
	.texto{
		width: 55%;
	}
	.item{
		width:18vw;
		margin:1vw 0vw;
		.box{
			border-radius: 0.3vw;
			padding-bottom: 0.8vw;
			img{
				width: 36vw;
				margin-left: 0.35vw;
			}
			.img-off{
				display: block;
			}
			.img-on{
				display: none;
			}
			&:hover{
				.img-on{
					display: block;
				}
				.img-off{
					display: none;
				}
			}
		}
		.card-info{
			display: none;
			.ficha{
				font-family: $titulo;
				display: flex;
				justify-content: center;
				color: $gris;
				transition: all .5s ease-in-out;
				i{
					margin-top: 0.3vw;
					margin-left: 0.2vw;
				}
				.icon-right-arrow{ display: none;}
				&:hover{
					color: $azul;
					.icon-right-arrow{ 
						display: block;
				
					}
					.icon-next{ 
						display: none; }
				}
			}
		}
	}
}
