.banner{
	background-size: cover;
	background-position: center;
	height: 35vw;
	overflow-y: auto;
	.container{
		margin-left:5%;
		margin-top: 20%;
		width: 40%;
		&.container-right{
			margin-left: 50%;
		}
	}
}

.linea{
	.texto{
		width: 55%;
	}
	.item{
		width:18vw;
		margin:1vw 0vw;
		.box{
			padding-bottom: 0.8vw;
			img{
				width: 36vw
				margin-left 0.10vw;
			}
			.img-off{
				display: block;
			}
			.img-on{
				display: none;
			}
			&:hover{
				.img-on{
					display: block;
				}
				.img-off{
					display: none;
				}
			}

			.ver{

				font-family: $titulo;
				display: flex;
				justify-content: center;
				color: white;
				transition: all .5s ease-in-out;
				i{
					margin-top: 0.3vw;
					margin-left: 0.2vw;
				}
				.icon-right-arrow{ display: none;}
				&:hover{

					color: $azul;

					.icon-right-arrow{ 
						display: block;
				
					}
					.icon-next{ 
						display: none; }
				}
			}
		}
		.card-info{
			display: none;
			.ficha{
				font-family: $titulo;
				display: flex;
				justify-content: center;
				color: $gris;
				transition: all .5s ease-in-out;
				i{
					margin-top: 0.3vw;
					margin-left: 0.2vw;
				}
				.icon-right-arrow{ display: none;}
				&:hover{
					color: $azul;
					.icon-right-arrow{ 
						display: block;
				
					}
					.icon-next{ 
						display: none; }
				}
			}
			
		}
	}


// Large devices (desktops, 992px and up)
@media (max-width: 1024px) { 
	.linea{
		.item{
			width:16vw;
			.box{
				img{
					width: 30vw;
				}
			}
		}
	}
 }

 // Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
	.linea{
		.item{
			width: 24vw;
			.box{
				padding-bottom: 3vw;
				img{
					width: 48vw;
				}
			}
		}
	}
 }
 

 // Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 

	.banner{
		height: 70vw;
		.container{
			margin-left:5%;
			margin-top: 15%;
			width: 45%;
			&.container-right{
				margin-left: 50%;
			}
		}
	}

	.linea{
		.item{
			width:26vw;
			margin: 3vw 0;
			.box{
				img{
					width: 43vw;
				}
			}
		}
	}

 }  

}