nav{
	padding: 1vw;
	position: absolute;
	top: 0;
	z-index: 1000;
	.nav{
		img{
			width: 12vw;
		}
		ul{
			position: relative;
			float: right;
			.nav-link{
				cursor: pointer;
			}
		}
	}
	.ele{
		display: none;
		.elemento{
			display: flex;
			transition: .5s;
			.it{
				margin: 3vw auto;
				text-align: center;
				&.item-3{
					margin-top: 5%;
					img{
						margin-bottom: 3vw;
					}
				}
			}
		}
	}
}