nav{
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	.nav{
		padding: 0.5vw;
		img{
			width: 8vw;
			margin-left: 1vw;
		}
		ul{
			position: relative;
			color: white;
			float: right;
			.nav-link{
				a{
					color: inherit;
				}
				cursor: pointer;
			}
		}
	}
	.ele{
		display: none;
		background: #312f2e;
		.cerrar{
			text-align:right;
		}
		ul{
			margin-bottom: 0;
			li{
				margin:0.5vw 2vw;
				cursor: pointer;
				font-size: 1.2vw;
				font-family: $texto;
				a{
					color: inherit;
					text-decoration: none;
					font-size: 1.2vw;
				}
				&:hover{ 
					text-decoration: underline;
				}
			}
		}
		#industrial{ display: none;}
		.elemento{
			display: flex;
			transition: .5s;
			width: 100%;
			.it{
				display: inline-block;
				margin:1vw;
				text-align: center;
				width: 10vw;
				position: relative;
					img{ 
						width: 22vw;
					}
				.name{
					position: absolute;
					bottom: 0.5vw;
					left: 0;
					right: 0;
					margin: auto;
					font-family: $subtitulo;
				}
				
				.img-on{display: none;}
				&:hover{
					.name{
						bottom: 2.3vw;
					}
					.img-on{ 
						display: block;
					 }
					.img-off{ display: none;
					}
				}
			}
		}
	}
}



// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
	nav{

		.nav{
			padding: 0.5vw;
			img{
				width: 20vw;
				margin-left: 6vw;
			}
		}
		.ele{
			padding-bottom: 3vw;
			ul{
				margin-top: 5vw;
				li{
					font-size: 3vw;
					a{
						font-size: 3vw;
					}
				
				}
			}
			.elemento{
				display: flex;
				flex-wrap: wrap;
				.it{
					display: inline-block;
					margin:1vw;
					width: 32vw;
						img{ 
							width: 70vw;
						}
				}
			}
		}
	}
	
 }