// Large devices (desktops, 992px and up)
 @media (max-width: 768px) { 

  h2{
    font-size: 3vw !important;
  }
  h3{
    font-size: 2.8vw !important;
  }
  h5{
    font-size: 2.5vw !important;
  }
  h6{
    font-size: 2.3vw !important;
  }
  label{
    font-size: 2.2vw !important;
  }
  span, p, a{
    font-size: 2vw !important;
  }
  .btn-secondary{ 
    font-size: 2.2vw !important;
  }
 } 


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
  h2{
    font-size: 4vw !important;
  }
  h3{
    font-size: 3.8vw !important;
  }
  h5{
    font-size: 3.5vw !important;
  }
  h6{
    font-size: 3.3vw !important;
  }
  label{
    font-size: 3.2vw !important;
  }
  span, p, a{
    font-size: 3vw !important;
  }
  .btn-secondary{ 
    font-size: 3.2vw !important;
  }

 } 






