//Colores 
$negro-1: #312f2e;
$azul: #009fe3;
$azul-claro: #2534a3;
$blanco: white;
$negro: black;
$gris: #666666;
$gris-claro: #F0F0F0;
$rojo: #ff3945;
$oscuro: #2c2a2f;



//Color de fuentes
.color-azul{
	color: $azul-claro;
}
.color-blanco{
	color: $blanco;
}
.color-negro{
	color: black;
}
.color-negro-1{
	color: $negro-1;
}
.color-gris{
	color: $gris;
}
.color-rojo{
	color:$rojo;
}
.color-oscuro{
	color:$oscuro;
}



//Background Color
.bg-azul{
	background-color: $azul;
}
.bg-negro{
	background-color: $negro;
}
.bg-gris{
	background-color: $gris;
}
.bg-claro{
	background-color: $gris-claro;
}
.bg-oscuro{
	background-color: $oscuro;
}

.bg-blanco{
	background-color: white;
}
.bg-fondo{
	background-color: $fondo;
}

//Color de bordes
.border-azul{
	border: 1px solid $azul;
}
.border-gris{
	border: 1px solid $gris;
}
.border-negro{
	border: 1px solid $negro;
}

