@import './font';
@import './icon';
@import './vars';
@import './nav';
@import './footer';
@import './responsive';
//Home
@import './home';
//Interna
@import './interna';

//Contacto
@import './contact';

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

//Fuentes


h2{
	font-size: 2vw;
	font-family: $titulo;
}
h3{
	font-size: 1.8vw;
	font-family: $subtitulo;
}
h5{
	font-size: 1vw;
	font-family: $texto;
}
h6{
	font-family: $titulo;
	font-size: 1.3vw;
}
label{
	font-family: $texto;
	font-size: 1.2vw;
}
span{
	font-family: $texto;
	font-size: 1vw;
}
p{
	font-size: 1vw;
	font-family: $texto;
}
a{
	font-size: 1vw;
	font-family: $texto;
	text-decoration: none;
}
li{
	list-style: none;
}


.btn-secondary{ 
	border-radius: 0.5vw;
	background: #494f54;
	border: #494f54;
	font-size: 1.2vw;
	padding:0 1vw;
}