@font-face {
  font-family: 'Monserrat-Bold';
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monserrat-Medium';
  src: url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monserrat-Light';
  src: url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.color-azul {
  color: #10195A;
}

.color-blanco {
  color: white;
}

.color-negro {
  color: black;
}

.color-gris {
  color: #666666;
}

.bg-azul {
  background-color: #10195A;
}

.bg-negro {
  background-color: black;
}

.bg-gris {
  background-color: #666666;
}

.bg-claro {
  background-color: #F0F0F0;
}
.bg-oscuro {
  background-color: #363432;
}
.bg-blanco {
  background-color: white;
}

.border-azul {
  border: 1px solid #10195A;
}

.border-gris {
  border: 1px solid #666666;
}

.border-negro {
  border: 1px solid black;
}

nav {
  padding: 1vw;
  position: absolute;
  top: 0;
  z-index: 1000;
}

nav .nav img {
  width: 12vw;
}

nav .nav ul {
  position: relative;
  float: right;
}

nav .nav ul .nav-link {
  cursor: pointer;
}

nav .ele {
  display: none;
}

nav .ele .elemento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .5s;
  transition: .5s;
}

nav .ele .elemento .it {
  margin: 3vw auto;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .ele .elemento .it .img-on {
  display: none;
}

nav .ele .elemento .it.item-3 {
  margin-top: 5%;
}

nav .ele .elemento .it.item-3 img {
  margin-bottom: 3vw;
}

nav .ele .elemento .it:hover .img-on {
  display: block;
}

nav .ele .elemento .it:hover .img-on.pe {
  width: 18vw;
}

nav .ele .elemento .it:hover .img-off {
  display: none;
}

footer .row {
  width: 100%;
}

footer .row img {
  width: 18vw;
}

footer .row .col-sm-4 ul {
  margin-left: 0;
  padding-left: 0;
}

.carousel-item {
  height: 50vw;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item {
  margin: 0 auto;
  text-align: center;
}

.item img {
  width: 5vw;
}

.box img {
  width: 18vw;
}

.clientes-container .img-cliente img {
  width: 100%;
}

.contenedor {
  position: relative;
}

.contenedor img {
  width: 100%;
  height: 27vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenedor .info {
  position: absolute;
  padding: 1vw;
}

.contenedor .info.fst-in {
  bottom: 0;
}

.contenedor .info.sec-in {
  top: 0;
}

.item-repr {
  padding-bottom: 5vw;
  margin: 1vw 2vw;
}

.item-repr .enlaces a {
  margin: 0 0.4vw;
}

.item-repr .enlaces a img {
  width: 2vw;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 45vw;
  overflow-y: auto;
}

.banner .container {
  margin-left: 5%;
  margin-top: 20%;
  width: 40%;
}

/* .main{
	background-image: url('/assets/bg.jpg');
	background-size: cover;
	background-repeat: repeat;
	background-position: center;
} */
.linea .texto {
  width: 55%;
}

.linea .item {
  width: 15vw;
  margin: 0.5vw;
}

.linea .item .box {
  border-radius: 0.3vw;
}

.linea .item .box img {
  width: 30vw;
  margin: 0 auto;
}

.linea .item .box .img-show {
  display: block;
}

.linea .item .box .img-hover {
  display: none;
}

.linea .item .card-info {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h2 {
  font-size: 2vw;
  font-family: "Monserrat-Bold";
}

h3 {
  font-size: 1.8vw;
  font-family: "Monserrat-Medium";
}

h5 {
  font-size: 1.5;
  font-family: "Monserrat-Bold";
}

h6 {
  font-family: "Monserrat-Light";
  font-size: 1.3vw;
}

p {
  font-size: 1vw;
  font-family: "Monserrat-Light";
}

a {
  font-size: 1vw;
  font-family: "Monserrat-Light";
  text-decoration: none;
}

li {
  list-style: none;
}
/*# sourceMappingURL=style.css.map */