@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-BoldCondensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium_1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light_1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("/icons/icomoon.eot?1d9ukt");
  src: url("/icons/icomoon.eot?1d9ukt#iefix") format("embedded-opentype"), url("/icons/icomoon.ttf?1d9ukt") format("truetype"), url("/icons/icomoon.woff?1d9ukt") format("woff"), url("/icons/icomoon.svg?1d9ukt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e90c";
}

.icon-instagram:before {
  content: "\e90e";
}

.icon-wpp:before {
  content: "\e910";
}

.icon-star-full:before {
  content: "\e9d9";
}

.color-azul {
  color: #10195A;
}

.color-blanco {
  color: white;
}

.color-negro {
  color: black;
}

.color-negro-1 {
  color: #312f2e;
}

.color-gris {
  color: #666666;
}

.color-rojo {
  color: #ff3945;
}

.bg-azul {
  background-color: #10195A;
}

.bg-negro {
  background-color: black;
}

.bg-gris {
  background-color: #666666;
}

.bg-claro {
  background-color: #F0F0F0;
}

.bg-oscuro {
  background-color: #312f2e;
}

.bg-blanco {
  background-color: white;
}

.border-azul {
  border: 1px solid #10195A;
}

.border-gris {
  border: 1px solid #666666;
}

.border-negro {
  border: 1px solid black;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
 
}

nav .nav {
  padding: 0.5vw;
}

nav .nav img {
  width: 8vw;
  margin-left: 3vw;
}

nav .nav ul {
  position: relative;
  color: white;
  float: right;
}

nav .nav ul .nav-link {
  cursor: pointer;
}

nav .nav ul .nav-link a {
  color: inherit;
}

nav .ele {
  display: none;
  background: #312f2e;
}

nav .ele .cerrar {
  text-align: right;
}

nav .ele ul {
  margin-bottom: 0;
}

nav .ele ul li {
  margin: 0.5vw;
  cursor: pointer;
  font-size: 1.2vw;
  font-family: "Roboto-Light";
}

nav .ele ul li a {
  color: inherit;
  text-decoration: none;
  font-size: 1.2vw;
}

nav .ele ul li:hover {
  text-decoration: underline;
}

nav .ele #industrial {
  display: none;
}

nav .ele .elemento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .5s;
  transition: .5s;
  width: 100%;
}

nav .ele .elemento .it {
  display: inline-block;
  margin: 1vw;
  text-align: center;
  width: 10vw;
  position: relative;
}

nav .ele .elemento .it img {
  width: 22vw;
}

nav .ele .elemento .it .name {
  position: absolute;
  bottom: 0.5vw;
  left: 0;
  right: 0;
  margin: auto;
  font-family: "Roboto-Medium";
}

nav .ele .elemento .it .img-on {
  display: none;
}

nav .ele .elemento .it:hover .name {
  bottom: 2.3vw;
}

nav .ele .elemento .it:hover .img-on {
  display: block;
}

nav .ele .elemento .it:hover .img-off {
  display: none;
}

footer {
  margin-top: 10vw;
}

footer.formulario {
  margin-top: 0;
}

footer .row .col-sm-3 h6 {
  margin-bottom: 1vw;
  font-family: "Roboto-Medium";
}

footer .row .col-sm-3 i {
  margin: 0.8vw;
  font-size: 1.5vw;
  cursor: pointer;
}

footer .row .col-sm-3 i:hover {
  color: #2534a3;
}

footer .row .col-sm-3 img {
  width: 17vw;
}

footer .row .col-sm-3 ul {
  margin-left: 0;
  padding-left: 0;
}

/* @media (min-width: 1400px) { 

 } */
.carousel-item {
  height: 50vw;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item {
  margin: 0 auto;
  text-align: center;
}

.item img {
  width: 5vw;
}

.box img {
  width: 18vw;
}

.clientes-container .swiper-container {
  width: 100%;
  height: 100%;
}

.clientes-container .swiper-container .swiper-wrapper .swiper-slide img {
  width: 20vw;
}

.contenedor {
  position: relative;
}

.contenedor img {
  width: 100%;
  height: 27vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenedor .info {
  position: absolute;
  padding: 1vw;
}

.contenedor .info.fst-in {
  bottom: 0;
}

.contenedor .info.sec-in {
  top: 0;
}

.item-repr {
  padding-bottom: 5vw;
  margin: 1vw 2vw;
}

.item-repr .enlaces a {
  margin: 0 0.4vw;
}

.item-repr .enlaces a img {
  width: 2vw;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 45vw;
  overflow-y: auto;
}

.banner .container {
  margin-left: 5%;
  margin-top: 20%;
  width: 40%;
}

.banner .container.container-right {
  margin-left: 50%;
}

/* .main{
	background-image: url('/assets/bg.jpg');
	background-size: cover;
	background-repeat: repeat;
	background-position: center;
} */
.linea .texto {
  width: 55%;
}

.linea .item {
  width: 18vw;
  margin: 1vw 0vw;
}

.linea .item .box {
  border-radius: 0.3vw;
  padding-bottom: 0.8vw;
}

.linea .item .box img {
  width: 36vw;
  margin-left: 0.35vw;
}

.linea .item .box .img-off {
  display: block;
}

.linea .item .box .img-on {
  display: none;
}

.linea .item .box:hover .img-on {
  display: block;
}

.linea .item .box:hover .img-off {
  display: none;
}

.linea .item .card-info {
  display: none;
}

.formulario {
  padding: 1vw;
  background: white;
}

.formulario .item {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.formulario .item h6 {
  text-transform: uppercase;
  font-family: "Roboto-Medium";
}

.formulario .item .aviso {
  font-family: "Roboto-Medium";
}

.formulario form {
  width: 50%;
  margin: 0 auto;
}

.formulario form .group {
  margin: 1vw 0;
}

.formulario form .group label {
  color: #10195A;
  text-align: left;
  margin-bottom: 0.5vw;
}

.formulario form .group input, .formulario form .group textarea {
  border: 1px solid #10195A;
  border-radius: 3vw;
  padding: 0.5vw;
  outline: none;
  background: white;
  color: #666666;
  width: 100%;
}

.formulario form .group textarea {
  border-radius: 1vw;
}

.formulario form .group span {
  color: #666666;
}

.formulario form .comprobacion {
  opacity: 0;
}

.formulario form .btn-enviar {
  width: 15vw;
  border-radius: 3vw;
  margin: 1vw auto;
  font-family: "Roboto-Medium";
  background: #10195A;
  color: white;
}

.formulario form .btn-enviar:hover {
  background: none;
  color: #10195A;
  border: 1px solid #10195A;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: url("../assets/bg.jpg");
  background-size: cover;
  background-repeat: repeat;
}

body.home {
  background: white;
}

h2 {
  font-size: 2vw;
  font-family: "Roboto-Bold";
}

h3 {
  font-size: 1.8vw;
  font-family: "Roboto-Medium";
}

h5 {
  font-size: 1.3vw;
  font-family: "Roboto-Light";
}

h6 {
  font-family: "Roboto-Bold";
  font-size: 1.5vw;
}

label {
  font-family: "Roboto-Light";
  font-size: 1.2vw;
}

span {
  font-family: "Roboto-Light";
  font-size: 1vw;
}

p {
  font-size: 1vw;
  font-family: "Roboto-Light";
}

a {
  font-size: 1vw;
  font-family: "Roboto-Light";
  text-decoration: none;
}

li {
  list-style: none;
}

.btn-dark {
  font-size: 1.2vw;
  padding: 0.5vw;
  border-radius: 0.5vw;
  margin: 0.3vw !important;
}

.btn-dark:hover {
  background: #292d31;
  border: 1px solid #292d31;
}

.btn-secondary {
  border-radius: 0.5vw;
  background: #494f54;
  border: #494f54;
  font-size: 1.2vw;
  padding: 0.5vw;
}
/*# sourceMappingURL=style.css.map */